.cocktailDetailsView {
  display: flex;
}

.cocktailDetails {
  padding: 3em;
}

.detailsImage {
  width: 50vw;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .cocktailDetailsView {
    flex-direction: column;
  }
  .detailsImage {
    width: 100vw;
  }
}
