header {
  display: flex;
}

.homepageHeader {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepageImage {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

.homepageTitle {
  font-size: 5em;
  margin: 0;
}

.homepageDescription {
  padding: 3em;
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
  .homepageHeader,
  .homepageImage {
    width: 100vw;
  }
}
