.ingredient {
  height: 150px;
  width: 100px;
  padding: 1em;
  cursor: pointer;
  margin: 1em;
}

.ingredient-image {
  height: 100px;
}

.ingredient-image,
.ingredient-name {
  pointer-events: none;
}
