.ingredientsView {
  padding-top: 15vh;
  padding-bottom: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredientsContainer {
  overflow: auto;
  display: inline-flex;
  justify-content: center;
  width: 80vw;
  padding: 1em;
}

button {
  margin-top: 5vh;
  cursor: pointer;
  font-family: "Joan", serif;
}
